  body {
    margin-top: 45px;
    height: 100%;
  }
  .logoNav {
    width: 10rem;
    height: 10rem;
    margin-left: 12%;
    overflow: visible;
    position: relative;
    z-index: 9999; /* Define o índice de empilhamento para o logo ficar acima dos demais elementos */
  }
  .loginLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color:black;
  }
  .propertyMenu{
    margin: 0;
    height: 3rem;
    padding: .5rem;
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:black;
    text-transform: uppercase;
}
 .promotionsMenu{
    border: 3px solid #3C4464;
    margin:0;
    padding: .5rem;
    display: flex;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color: #3C4464;
    text-decoration: none;
    color:#FCB434;
 }
  
  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: black;
    height: 5rem;
    padding: 1em;
    overflow: visible;
  }
  .menu{
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    width: 90%;
    padding: 0;
  }
  
  .menu > li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
  }
  
  .menu-button-container {
    color: black;
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color:#FCB434;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: transparent;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  
  @media (max-width: 800px) {
    .logoNav {
      height: 7rem;
      width: 7rem;
    }
    .logo{
      margin-left:1%;
    }
    body{
      margin:0;
    }
    .top-nav{
      background-color: #3C4464;
    }
    .propertyMenu{
      height: auto;
      padding: auto;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color:#FCB434;
      text-transform: none;
  }
  .promotionsMenu{
    border: none;
    margin:0;
    padding: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    color:#FCB434;
 }
 .loginLogo{
  color:#FCB434;
 }
  .logoPic{
    display: none;
  }
    .menu-button-container {
      display: flex;
      flex-direction: column;
    }
    .menu {
      position: absolute;
      top: 11%;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }
    #menu-toggle ~ .menu li {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
      border-top: 2px solid #333;
      font-size: large;
      height: 4.5em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0.5em 0;
      width: 100%;
      color:black;
      background-color: #3C4464;
    }
    .menu > li:not(:last-child) {
      border-bottom: 1px solid #444;
    }
  }