.map-container {
    height: 500px;
    width: 500px;
  }

  .labels{
    color: white;
    background-color: black;
    border: solid 1px black;
    font-weight: 900;
    padding: 4px;
    top: -8px;
  }

  .label-closed{
    background: white;
    border-radius: 12px;
    padding: 8px;
    width: 60px;
    z-index: 1000;
    position: 'relative'
  }

  .floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: "Roboto", "sans-serif";
    line-height: 30px;
    padding-left: 10px;
  }